/*common*/
.hidden {
    display: none;
}
.visible {
    display: block;
}
/*common end*/

/*site-top-bar*/
.site-top-bar-container {
    display: flex;
    justify-content: center;
}

.site-top-bar {
    width: 67%;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.logo {
    flex: 0 0 auto;
}

.top-bar-right-box {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contract-info-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #323232;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    gap: 5px;
}

.contract-info-detail > div {
    display: flex;
    align-items: center;
    font-family: Meiryo, sans-serif;
    font-size: 8px;
}

.contract-info-detail > span {
    font-family: Meiryo, sans-serif;
    font-size: 12px;
}

.left-icon {
    margin-right: 5px;
}

.right-icon {
    margin-left: 5px;
}
/*site-top-bar-end*/

/*navigation-bar*/
.navigation-bar-container {
    background-color: #FCE6E8;
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 15px;
    gap: 15px;
}

.navigation-bar > .navigation-item-container {
    margin-right: 10px;
    font-family: Meiryo, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #555;
}

.sub-navigation-menu-item .navigation-item-container {
    display: block;
    margin-bottom: 10px;
}
.navigation-item-container {
    position: relative;
}

.sub-navigation-menu-item {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 7px;
    font-family: Meiryo, sans-serif;
    border: 7px #FDE3E1 solid;
}

.sub-navigation-menu-item.visible {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navigation-group-item .group-header {
    font-weight: 5000;
    font-size: 14px;
}

.navigation-path {
    text-decoration: none;
    color: #555;
}

.sub-navigation-menu-item .navigation-path {
    font-weight: normal;
    font-size: 14px;
    color: #555;
}

.navigation-path:hover {
    color: #333;
}
@media (max-width: 750px) {
    .navigation-bar-container > .navigation-bar{
        display: none;
    }
}
/*navigation-bar end*/